# XCode
build
distribution
*.mode1v3
*.mode2v3
*.nib
*.swp
*.pbxuser
*.perspective
*.perspectivev3
*.xcworkspace
xcuserdata


# OSX
.DS_Store

# TextMate
*.tm_build_errors

# Appcode
.idea

# VendorKit
Vendor
*.vendorbackup*

# cocoapods
RSSParser_Sample/Pods/*
